source https://nuget.org/api/v2

nuget FSharp.Formatting
#nuget FSharpXmlDoc

nuget NUnit 
nuget NUnit.Runners
nuget Nuget.CommandLine
nuget FsCheck
nuget FsCheck.NUnit
nuget AutoFixture.Idioms.FsCheck

nuget ExtCore
nuget FSharpPlus
nuget FSharpx
nuget FSharpx.Collections
nuget FSharpx.Async
nuget FSharp.Data
#nuget FSharp.Data.Toolbox # deprecated / renamed?

nuget FAKE
nuget SourceLink.Fake

nuget FsLab
nuget Deedle

nuget encog-dotnet-core

github fsharp/FAKE modules/Octokit/Octokit.fsx